In [1]:
import pandas as pd

In [2]:
excel_data = pd.read_excel('D:\Twich1.xlsx')

In [3]:
df = pd.concat(pd.read_excel('D:\Twich1.xlsx', sheet_name= None ), ignore_index= True ) # Объединяем все листки из Exel
df

,Unnamed: 0,Game,Watch time (hours),Stream time (hours),Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio,Twich_year
0,0,League of Legends,"1,035,469,850","14,057,492","952,308","2,945","625,380","117,894","1,600",73.66,2016
1,1,Counter-Strike: Global Offensive,"526,391,918","7,823,567","1,059,002","2,197","572,379","59,933",890,67.28,2016
2,2,Dota 2,"496,585,969","3,852,651","623,824","1,100","188,569","56,539",438,128.89,2016
3,3,Hearthstone,"474,016,816","2,353,199","331,248","1,220","196,072","53,969",267,201.44,2016
4,4,Overwatch,"178,958,678","6,443,412","302,141","9,741","564,462","20,375",733,27.77,2016
...,...,...,...,...,...,...,...,...,...,...,...
277745,42395,Alien Covenant In Utero,95,10,26,1,5,0,0,9.50,2019
277746,42396,Pivo,95,23,15,1,5,0,0,4.13,2019
277747,42397,EbonSide,95,49,10,1,8,0,0,1.94,2019
277748,42398,The Consequences of Gardening,95,14,44,1,4,0,0,6.79,2019
277749,42399,Lucky Tlhalerwa: Super Incursion,95,49,19,1,10,0,0,1.94,2019

In [4]:
df_inf = df[['Game', 'Watch time (hours)', 'Streamers', 'Average channels']] # Выбрали нужные столбцы
df_inf

,Game,Watch time (hours),Streamers,Average channels
0,League of Legends,"1,035,469,850","625,380","1,600"
1,Counter-Strike: Global Offensive,"526,391,918","572,379",890
2,Dota 2,"496,585,969","188,569",438
3,Hearthstone,"474,016,816","196,072",267
4,Overwatch,"178,958,678","564,462",733
...,...,...,...,...
277745,Alien Covenant In Utero,95,5,0
277746,Pivo,95,5,0
277747,EbonSide,95,8,0
277748,The Consequences of Gardening,95,4,0
277749,Lucky Tlhalerwa: Super Incursion,95,10,0

In [5]:
Columns_inf= list(df_inf.columns.values[1:] )
Columns_inf

['Watch time (hours)', 'Streamers', 'Average channels']

In [6]:
# Приводим тип данных к численным
for Columns in Columns_inf:
    df_inf[Columns] = df_inf[Columns].str.split(',').str.join('')
    df_inf[Columns] = pd.to_numeric(df_inf[Columns])

C:\Users\Иван\AppData\Local\Temp\ipykernel_11204\713942710.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inf[Columns] = df_inf[Columns].str.split(',').str.join('')
C:\Users\Иван\AppData\Local\Temp\ipykernel_11204\713942710.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inf[Columns] = pd.to_numeric(df_inf[Columns])

In [7]:
df_inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277750 entries, 0 to 277749
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Game                277749 non-null  object
 1   Watch time (hours)  277750 non-null  int64
 2   Streamers           277750 non-null  int64
 3   Average channels    277750 non-null  int64
dtypes: int64(3), object(1)
memory usage: 8.5+ MB

In [8]:
df_group = df_group.groupby(['Game']).mean()
df_group

NameError: name 'df_group' is not defined

In [ ]:
df_group.to_csv('Twich_sort.csv', sep=',')